<nav class="sidebar">
  <div class="logo">
    <h2>FastDelivery<span>.</span></h2>
    <p>For Admins</p>
  </div>
  <ul>
    <li><a href="admin/dashboard" class="active"><i class="icon-home"></i> Dashboard</a></li>
    <li><a href="admin/repas"><i class="icon-foods"></i> Foods</a></li>
    <li><a href="admin/order-list"><i class="icon-list"></i> Order List</a></li>
    <li><a href="admin/livreur"><i class="icon-detail"></i> Delivery</a></li>
    <li><a href="admin/reviews"><i class="icon-reviews"></i> Reviews</a></li>
    <li><a href="admin/wallet"><i class="icon-wallet"></i> Wallet</a></li>
    <li><a routerLink="/customer-detail"><i class="icon-customer-detail"></i> Settings</a></li>

  </ul>
</nav>
